body {
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.container {
    margin: 75px 150px;
    padding: 50px 150px;
    border: solid 1px brown;
}

#right-side {
    margin-left:auto;
}

.icon {
    width:75px;
    height:auto;
    vertical-align: middle;
}
#amount {
    font-size: 25px;
}

.lipstick-header {
    align-items: center;
    color: blueviolet;
}

#lipstick-list {
    display:flex;
    justify-content: center;
}

#lipstick-list img {
    width: 100px;
    height: auto;
    margin: 7px;
}

/*Deliverable #3: Hover */
#lipstick-list img:hover {
    filter: drop-shadow(0 0 0.75rem white)
}

#lipstick-info {
    display: flex;
    height: 400px;
    justify-content: center;
    margin-top: 25px;
}

.top {
    display: block;
    margin: 0;
}


#lipstick-info img {
    height: auto;
    margin: 7px;
    filter: drop-shadow(0 0 1em #C87D4C)
}

#lipstick-info div {
    width: 500px;
    margin-left: 20px;
}

#lipstick-info div p {
    font-family: 'Nanum Gothic', sans-serif;
}

form {
    width:200px;
}

button {
    border: 0;
    width:200px;
    color: black;
    background: white; 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.subscribe-lips {
    max-width: 300px;
}

#nav-lipstick {
  padding: 20px 0;
  margin: 0;
}

.nav-bar {
  padding: 0;
}

.nav-bar li {
  display: inline;
  list-style: none;
  margin: 0;
  line-height: 50px;
  margin-left: 10px;
}

.float-container {
    border: 3px solid #fff;
    padding:20px
}

.float-child {
    width:50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
    display: flex;

}



