body {
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    color: black;
    font-family: 'Bebas Neue', cursive;

}
img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width: 50%;
    position: relative;
    top: 50px;
    border:5px solid #556

    
    
}

.container {
    margin: 75px 150px;
    padding: 50px 150px;
    border: solid 1px brown;
    
}

#right-side {
    margin-left:auto;
    
}

.icon {
    width:75px;
    height:auto;
    vertical-align: middle;
    margin-right: 50px;
    margin-top: -10px;
}
#amount {
    font-size: 25px;
}

.lipstick-header {
    align-items: center;
    color: blueviolet;
    text-align: center;
    
}


#lipstick-list {
    display:flex;
    justify-content: center;
    
    
}

#lipstick-list img {
    width: 100px;
    height: auto;
    margin: 7px;
}



/*Deliverable #3: Hover */
#lipstick-list img:hover {
    filter: drop-shadow(0 0 0.75rem purple)
}

#lipstick-info {
    display: flex;
    height: 400px;
    justify-content: center;
    margin-top: 25px;
    color:black;
}



p {
    color: black;
}



.top {
    display: block;
    margin: 0;
}


#lipstick-info img {
    height: auto;
    margin: 7px;
    filter: drop-shadow(0 0 1em #C87D4C)
}

#lipstick-info div {
    width: 500px;
    margin-left: 20px;

    
}



#lipstick-info div p {
    font-family: 'Nanum Gothic', sans-serif;
    
}

form {
    width:200px;
}


button {
    border: 0;
    width:200px;
    color: black;
    background: white; 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.subscribe-lips {
    max-width: 300px;
    margin-top: 50px auto;
    text-align: center;
    color:black;


}


.row:after {
    content:"";
    display:table;
    clear:both;
    
}

.col-6 {
    float:left;
    width: 50%; 
    color:black;   

}

h1 {
    color:black;
    font-family: 'Bebas, sans-serif';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    
}
.lipstick-form {
    margin-bottom: 100px;
    margin-top: 20px;
    text-align: center;
    display: block;
    width: auto;
    background-color: purple;
    

}

title {
    color:black !important;
}





